<div class="container nav-2 navbar-fixed-top second-menu angular-menu">
    <ul class="nav nav-pills">
        <li>@Html.ActionLink("All Contacts", "Index", "Contacts")<span class="badge">40</span></li>
        <li>@Html.ActionLink("Friends", "Index", "Contacts")<span class="badge">30</span></li>
        <li>@Html.ActionLink("Family", "Index", "Contacts")<span class="badge">20</span></li>
        <li>@Html.ActionLink("Work", "Index", "Contacts")<span class="badge">10</span></li>
    </ul>
</div>
