<div class="container nav-2 navbar-fixed-top second-menu">
    <ul class="nav nav-pills">
        <li>@Html.ActionLink("Coffees", "Index", "Coffees")</li>
        <li>@Html.ActionLink("Companies", "Index", "Companies")</li>
        @*<li>@Html.ActionLink("Customers", "Index", "Customer")</li>*@
    </ul>
</div>

