@{
    ViewBag.Title = "_Contact Thanks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thanks for sending the message!</h2>
 @ViewBag.ContactMessage
<p class="margin-top-20"><b>(No message has actually been sent anywhere, this is just demo stuff!)</b></p>
