@model IEnumerable<CoffeeDemo.Models.Company>

@{
    ViewBag.Title = "_Contact Thanks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thanks for sending the message!</h2>
 @ViewBag.ContactMessage
