@{
    ViewBag.Title = "Playground Home Page";
}

<div id="main-home" class="jumbotron custom-jumbotron" data-homepage>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a class="btn btn-primary btn-lg" data-target="#exModal" data-toggle="modal">Show additional content&nbsp;<span class="glyphicon glyphicon-cog"></span></a></p>
</div>

<div class="row">
    <div class="col-md-6 container">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2>First Container</h2>
            </div>
            <div class="panel-body">
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
            </div>
            <div class="panel-footer">
                <p>
                    <a class="btn btn-default top-of-page">Scroll to the top of this page&nbsp;<span class="glyphicon glyphicon-chevron-up"></span></a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h2>Second Container</h2>
            </div>
            <div class="panel-body">
                <p>
                    NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.<br />Also this is additional text
                </p>
            </div>
            <div class="panel-footer">
                <p>
                    <a class="btn btn-default top-of-page">Scroll to the top of this page&nbsp;<span class="glyphicon glyphicon-chevron-up"></span></a>
                </p>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-6 container">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h2>First Container</h2>
            </div>
            <div class="panel-body">
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
            </div>
            <div class="panel-footer">
                <p>
                    <a class="btn btn-default top-of-page">Scroll to the top of this page&nbsp;<span class="glyphicon glyphicon-chevron-up"></span></a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h2>Second Container</h2>
            </div>
            <div class="panel-body">
                <p>
                    NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.<br/>Also this is additional text
                </p>
            </div>
            <div class="panel-footer">
                <p>
                    <a class="btn btn-default top-of-page">Scroll to the top of this page&nbsp;<span class="glyphicon glyphicon-chevron-up"></span></a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 container">
        <div class="panel panel-coffee-blue">
            <div class="panel-heading">
                <h2>First Container</h2>
            </div>
            <div class="panel-body">
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
            </div>
            <div class="panel-footer">
                <p>
                    <a class="btn btn-default top-of-page">Scroll to the top of this page&nbsp;<span class="glyphicon glyphicon-chevron-up"></span></a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-coffee-red">
            <div class="panel-heading">
                <h2>Second Container</h2>
            </div>
            <div class="panel-body">
                <p>
                    NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.<br />Also this is additional text
                </p>
            </div>
            <div class="panel-footer">
                <p>
                    <a class="btn btn-default top-of-page">Scroll to the top of this page&nbsp;<span class="glyphicon glyphicon-chevron-up"></span></a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 container">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h2>First Container</h2>
            </div>
            <div class="panel-body">
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
            </div>
            <div class="panel-footer">
                <p>
                    <a class="btn btn-default top-of-page">Scroll to the top of this page&nbsp;<span class="glyphicon glyphicon-chevron-up"></span></a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h2>Second Container</h2>
            </div>
            <div class="panel-body">
                <p>
                    NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.<br />Also this is additional text
                </p>
            </div>
            <div class="panel-footer">
                <p>
                    <a class="btn btn-default top-of-page">Scroll to the top of this page&nbsp;<span class="glyphicon glyphicon-chevron-up"></span></a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>First Container</h2>
            </div>
            <div class="panel-body">
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
            </div>
            <div class="panel-footer">
                <p>
                    <a class="btn btn-default top-of-page">Scroll to the top of this page&nbsp;<span class="glyphicon glyphicon-chevron-up"></span></a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Second Container</h2>
            </div>
            <div class="panel-body">
                <p>
                    NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.<br/>Also this is additional text
                </p>
            </div>
            <div class="panel-footer">
                <p>
                    <a class="btn btn-default top-of-page">Scroll to the top of this page&nbsp;<span class="glyphicon glyphicon-chevron-up"></span></a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 container">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2>First Container</h2>
            </div>
            <div class="panel-body">
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
            </div>
            <div class="panel-footer">
                <p>
                    <a class="btn btn-default top-of-page">Scroll to the top of this page&nbsp;<span class="glyphicon glyphicon-chevron-up"></span></a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel coffee-panel">
            <div class="panel-heading coffee-panel">
                <h2>Second Container</h2>
            </div>
            <div class="panel-body coffee-panel-body">
                <p>
                    NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.<br/>Also this is additional text
                </p>
            </div>
            <div class="panel-footer">
                <p>
                    <a class="btn btn-default top-of-page">Scroll to the top of this page&nbsp;<span class="glyphicon glyphicon-chevron-up"></span></a>
                </p>
            </div>
        </div>
    </div>
</div>


<div id="exModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">My Example Title Text</h4>
            </div>
            <div class="modal-body">
                <p>My Example Body Text....</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" disabled>Inactive Button</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
