@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>This page uses real time data. Open 2 browser instances - refresh one (f5), and see the other auto update without doing a page refresh.</p>

    <div id="hitCount" style="font-size: 100px;">
    </div>

    @*<script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>*@

    @*<script>
        $(function () {
            var con = $.hubConnection();
            var hub = con.createHubProxy('HospitalDataHub');
            hub.on('onHitRecorded', function (i) {
                $('#hitCount').text(i);
            });
            con.start(function () {
                hub.invoke('RecordHit');
            });
        });
    </script>*@

@*</body>
</html>*@


