@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<title>View Google Calendar Demo</title>

<style>
    body {
        margin-top: 40px;
        text-align: center;
        font-size: 14px;
        font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    }

    #loading {
        position: absolute;
        top: 5px;
        right: 5px;
    }

    #calendar {
        width: 900px;
        margin: 0 auto;
        cursor: default !important;
    }

    .fc-content { /*.fc-event */
        cursor: default !important;
    }

</style>

<div id='loading'></div>
<div id='calendar'></div>







