
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <style>
        .item {
            background: #333;
            text-align: center;
            height: 300px !important;
        }

        h2 {
            margin: 0;
            color: #888;
            padding-top: 100px;
            font-size: 50px;
        }

        .thumbnail {
            margin-top: 10px;
        }
    </style>

 <meta name="viewport" content="width=device-width"/>

<div>

    <div class="thumbnail">
        <div id="DemoCarousel" class="carousel slide" data-interval="4000" data-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
                <li data-target="#DemoCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#DemoCarousel" data-slide-to="1"></li>
                <li data-target="#DemoCarousel" data-slide-to="2"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
                <div class="item active">
                    <h2>Alice</h2>
                    <div class="carousel-caption">
                        <h3>This is the First Label</h3>
                        <p>The Content of the First Slide goes in here</p>
                    </div>
                </div>
                <div class="item">
                    <h2>Jon</h2>
                    <div class="carousel-caption">
                        <h3>This is the Second Label</h3>
                        <p>The Content of the second Slide goes in here</p>
                    </div>
                </div>
                <div class="item">
                    <h2>Theo</h2>
                    <div class="carousel-caption">
                        <h3>This is the Third Label</h3>
                        <p>The Content of the Third Slide goes in here</p>
                    </div>
                </div>
            </div>
            <!-- Carousel Controls -->
            <a class="carousel-control left" href="#DemoCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="carousel-control right" href="#DemoCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>


</div>


<script type="text/javascript">
    $(document).ready(function () {

        //Carousel Controls
        $(".left").click(function () {
            $("#DemoCarousel").carousel('prev');
        });
        $(".right").click(function () {
            $("#DemoCarousel").carousel('next');
        });

        //Carousel Indicators
        $(".slide-1").click(function () {
            $("#DemoCarousel").carousel(0);
        });
        $(".slide-2").click(function () {
            $("#DemoCarousel").carousel(1);
        });
        $(".slide-3").click(function () {
            $("#DemoCarousel").carousel(2);
        });
    });
</script>
